/* Styles for login page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(158, 156, 156);
}
.active {
    display: block;
}
.inactive {
    display: none;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    width: 300px;
    padding: 30px;
    padding-right: 50px;
    background-color: rgba(59, 59, 59, 0.9);
    border-radius: 8px;
    border: 2px solid #fff;
    color: #fff;
}

.title {
    font-size: 30px;
    text-align: center;
    align-items: center;
    color: rgb(184, 130, 38);
}

.form-group {
    align-items: center;
}

.input {
    background-color: #656565;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
    color: #fff;
}

.button {
    background-color: #d9d9d9;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    align-items: center;
    align-self: center;

}

.buttonText {
    color: #000;
}

.toggleText {
    align-self: center;
    color: white;
}
